<form class="{{cssClass}} dune enemy flexcol" autocomplete="off">
  <div class="flexrow">
    <label class="flex1" for="enemy-name-{{item.id}}">Name</label>
    <input class="flex2" name="name" type="text" value="{{item.name}}" id="enemy-name-{{item.id}}"
	   {{#unless editable}}disabled{{/unless}} />
    <label class="flex1 second" for="enemy-type-{{item.id}}">Type</label>
    <input class="flex2" name="system.type" type="text" value="{{item.system.type}}" id="enemy-type-{{item.id}}"
	   {{#unless editable}}disabled{{/unless}}/>
  </div>
  <div class="flexrow">
    <label class="flex1" for="enemy-hatered-{{item.id}}">Hatered</label>
    <input class="flex2" name="system.hatered" type="number" value="{{item.system.hatered}}" id="enemy-hatered-{{item.id}}"
	   {{#unless editable}}disabled{{/unless}} min="0" max="20"/>
    <label class="flex1 second" for="enemy-reason-{{item.id}}">Reason</label>
    <input class="flex2" name="system.reason" type="text" value="{{item.system.reason}}" id="enemy-reason-{{item.id}}"
	   {{#unless editable}}disabled{{/unless}}/>
  </div>
  {{#if owner}}
  <div class="flexrow">
    <label class="flex1" for="enemy-notes-{{item.id}}">Notes</label>
    <textarea style="flex: 5" id="enemy-notes-{{item.id}}" name="system.notes"
	   {{#unless editable}}disabled{{/unless}}>{{item.system.notes}}</textarea>
  </div>
  {{/if}}
  {{#if editable}}
  <div class="flexrow">
    <span></span>
    <button class="del" type="button"><span class="fas fa-trash"></span></button>
  </div>
  {{/if}}
</form>
